meta(name='Description', content='全台唯一提供完整教材並好用的中高線上課程，不限版本，24hr隨時上課。')
meta(name='eHanlin - 翰林雲端學院', content='eHanlin - 翰林雲端學院 Smart Learning!')
title 翰林雲端學院 - 線上學習首選 - 免費試用小中高課程
link(rel='icon', href=`${platformUrl}/images/favicon.png`, type='image/png')
script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
// Google Tag Manager
script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MXQFNDH');
// End Google Tag Manager
script(async='', src='https://www.googletagmanager.com/gtag/js?id=AW-800540227')
script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'AW-800540227');
