footer#ehanlin-footer
script(type='text/javascript', src=`/app/web-component/js/ehanlin-loader.js`, data-module='ehanlin-header,ehanlin-event-left-side,ehanlin-info-left-side,ehanlin-menu,ehanlin-footer')
a(href=`${platformUrl}/event/line/`, target='_blank', style='position: fixed; right: 10px; bottom: 60px;')
  img(src=`${s3Path}/platform/1.0.0/resource/imgs/cs.png`)
script(type='text/javascript', src=`${platformUrl}/js/jquery/back-to-top.js`)