link(type='text/css', rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
link(type='text/css', rel='stylesheet', href=`${platformUrl}/css/platform-icon.css`)
link(type='text/css', rel='stylesheet', href=`${platformUrl}/css/jquery.jgrowl.css`)
header#ehanlin-header
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-MXQFNDH', height='0', width='0', style='display:none;visibility:hidden')
nav#ehanlin-menu
