doctype html
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        title 服務條款
        link(rel="stylesheet" type="text/css" href=`./${version}/css/terms.css`)
        include ./head.pug
    body.basic
        include ./html-head.pug
        .box
            .box-title
                .tag.blue Terms of Use
                .content 服務條款
            .policy
                p
                    | 為保障翰林雲端學院會員（以下簡稱會員）使用翰林出版事業股份有限公司（以下簡稱本公司）提供之翰林雲端學院會員服務（以下簡稱本服務），關於本服務相關使用權益，請於使用本服務前，詳細閱讀以下條款。另外，本公司保留隨時修改本條款之權利，條款內容若有變更，將公佈於網站，不另行個別通知，為保障您的權益，敬請定期查閱！
                br
                p
                    | 當您完成註冊程序後，成為「翰林雲端學院」會員時，即表示您已閱讀、瞭解並同意接受本條款之所有內容。
                    | 如您不願接受本服務條款，應立即離開本網站註冊頁面。當您點選“同意”本條款或繼續使用本服務，即表示您接受本條款。
                br
            .policy
                h3 第一條 會員（您）明確理解並同意遵守本條款
                p 請您瞭解一旦按下「同意」本條款之按鍵，即表示您已經詳細審閱並瞭解本條款所有內容，並願意完全遵守本條款 。
                br
                p
                    | 本服務之申請，若申請人為無行為能力人（如未滿七歲之未成年人），應由其法定代理人為之；若為限制行為能力人（滿七歲但未滿二十歲），應得法定代理人之同意。當會員完成註冊程序成為「翰林雲端學院」會員時，即推定未滿七歲之會員之法定代理人已代為註冊，或者滿七歲但未滿二十歲之會員之法定代理人已同意會員註冊。若嗣後發現未滿七歲之會員未由法定代理人代為註冊，或者滿七歲但未滿二十歲之會員未取得法定代理人之同意，會員應自負一切責任，概與本公司無涉，且本公司有權暫停或終止會員的帳號，並得拒絕會員使用本服務之全部或部份，同時不退還會員已繳交的費用。
                br
                p 若您提供任何錯誤或不實的資料，本公司有權暫停或終止您的帳號，並拒絕您使用本服務之全部或部份。
                br
            .policy
                h3 第二條 服務說明
                p
                    | 本公司有權增加、變更或取消本服務中相關系統或功能之全部或一部份之權利，且無須個別通知會員；且有關現有或將來之各項服務均受本服務條款之規範。本公司並保留將本服務轉予第三人經營之權利，而會員同意由該第三人繼受本條款之所有一切權利及義務。
                br
                p 本服務所提供的服務，不擔保其服務期限及服務內容，本公司隨時有權停止提供服務之一部或全部，或變更服務內容之一部或全部。
                br
                p
                    | 每一帳號僅供一人使用，且限於同一人使用，本公司嚴格禁止帳號之出借、出租或出讓，並禁止多人共用同一帳號，如本公司發現您將個人帳號及密碼提供給任何第三人（不論是否為本公司會員）使用，則視為嚴重違反本使用條款，本公司有權立即凍結您的帳號並終止您使用本服務的權利，並且不退還您已繳交的費用。
                br
                p
                    | 本服務所提供的服務，當服務期限屆期時，不論您是否有開通或是使用本服務，本公司恕不退還您已繳交的費用。您可以隨時以書面通知本公司您欲終止本使用條款並放棄會員資格，但本公司無需退還您已繳交的費用，終止以前已發生的您應繳交的費用則仍須按時繳交。
                br
            .policy
                h3 第三條 會員責任
                p
                    | 您同意按照本公司的規定而給付使用本服務之費用，不論是按月付費或是一次給付之服務使用費。如果您逾期未繳交費用，本公司有權立即凍結您的帳號並暫時終止您使用本服務的權利，直到您補繳費用為止。若是您一次給付本服務之使用費，不論您是在店面購買或是線上購買，您皆必須在服務使用期限內使用本服務；不論您是否有使用本服務，本公司恕不退還您已繳交的費用。
                br
                p 您使用本服務的行為，除了表示您同意遵守本服務使用條款的內容外，也表示您同意在遵守中華民國著作權法之各項條款的前提下，使用各項免費或付費內容。
                br
                p(style="font-weight:bold;")
                    | 您應妥善保管您的會員帳號及密碼，以免遭他人冒用或不當使用。同時，您所屬本公司的會員帳號，一個帳號僅限一人使用（特殊需求並經本公司認可之情形除外）並不得有轉讓、轉售帳號等不正常使用行為，如經查實，您需對您的會員帳號所進行的所有行為負責，包括任何因使用您的會員帳號所獲得之內容、服務而應給予本公司或內容供應商的罰責及費用，本公司並有權力立即停止該會員帳號所有服務。
                br
            .policy
                h3 第四條 服務中斷或暫停
                p
                    | 本公司保留隨時停止、縮減或更改各項服務內容或終止任一會員帳戶服務之權利。無論任何情形，就停止、縮減或更改服務或終止會員帳戶服務所可能產生之困擾、不便或損害，本公司對任何會員或第三人均不負任何責任。
                    | 發生下列情形之一時，本公司有權停止、中斷、縮減或更改所提供之服務；
                ul
                    li
                        | 網路連線或設備故障時；
                    li
                        | 本公司對本服務系統進行系統更新、維修、保養及施工時；
                    li
                        | 因本公司所申請之網路設備服務不問任何原因被停止，無法提供服務時；
                    li
                        | 因本服務之設備或系統遭到惡意入侵或破壞時；
                    li
                        | 因不可抗力之因素導致本公司無法提供服務時；
                    li
                        | 為避免本公司、本公司會員或其他任何人或社會公眾之生命、身體、健康、自由、名譽、財產或其他權益遭受防礙或損害時。
            .policy
                h3 第五條 本公司賠償責任限制
                p
                    | 本公司對於會員使用各項服務、或無法使用各項服務所致生或蒙受之任何瑕疵、不便或直接、間接、衍生、或特別之損害（包括、但不限於因延誤而失去的數據、系統當機時間、錯誤發送、網路或系統停用、檔案錯誤或服務中斷等情形），不論原因為何，本公司均不負任何賠償責任。您並同意不向本公司與其母公司、子公司及相關公司，以及雇員、獲許可之人、經銷商與內容供應商要求承擔任何損失、責任、賠償要求、要求、損害賠償以及律師費用。
                br
            .policy
                h3 第六條 本公司免責聲明
                p
                    | 本公司對於透過本服務所提供的任何建議（包括但不限於：學習建議、診斷建議、補救建議等）、資訊、產品或服務，均僅依當時會員歷史記錄及各該服務當時之功能及現況提供您參考，本公司不保證本服務將符合您的需要和期望，本公司對於本服務之速度、安全性、正確性、可靠性、即時性、完整性或有用性，不承擔任何責任亦不承諾任何擔保或保證。
                br
                p
                    | 無論在任何情況下，本公司及其授權人都不應該對任何損失負損害賠償的責任，包括因使用或無法使用本服務而引起的損失或其它直接、間接、偶然、特別或衍生性的損失(包括但不限於商業盈利的損害或喪失、生意中斷、商業資訊的丟失、和任何其它金錢上的損失)。
                br
                p
                    | 會員是否經由本服務之使用下載或取得任何軟體或資料，應由您自行斟酌與判斷前述軟體或資料之合適性、有效性、正確性、完整性、及是否侵害他人權利，以免遭受損失（例如：造成您電腦系統受損、或儲存資料流失等）；本公司對於該等損失不負任何賠償責任。
                br
            .policy
                h3 第七條 會員之個人資料及活動記錄
                p
                    | 您明確理解並同意本公司或母公司、子公司、相關公司及合作夥伴在本服務目的範圍內，以及為內容與系統升級改進、產品服務研發、學術研究、客製化廣告、廣告效果評估及市場調查分析、以及您看到的網頁內容、滿足您對產品和服務的要求、改進我們的服務、聯絡您，以及提供內部及外部會員匿名研究或數據報告之目的，可使用會員之個人資料，包括但不限於：會員如有得奬時,
                    | 本公司可通知會員就讀之學校以便頒發獎品/贈品。
                br
                p
                    | 您明確理解並同意本公司可自動記錄會員在本網站的學習活動記錄，將用來作數據性的統計分析並運用，本公司得視個案需要，提供本公司或關係企業、合作夥伴或其他第三人（包括但不限於：會員就讀學校、教師），就學習活動記錄及會員姓名等資料為合法之揭露及使用；本公司並有權用於包括資料庫統計、整合運算及與第三人異業合作，或本公司認為適當之一切商業目的之使用。
                br
                p
                    | 您明確理解並同意以上個人資料及活動記錄，同時可被本公司之母公司、子公司、相關公司及合作夥伴，在符合前述條款的用途內進行運用。並可以提供及改進更完善的服務、針對適合課程推廣為由主動以電子郵件、簡訊或電話等通訊方式聯絡您，其他細節可參考本公司 翰林雲端學院隱私權保護政策。
                br
                p 您明確理解並同意，在同意第三人所發出的建立親子關係邀請後，即代表該第三人之帳號可以閱覽您在本網站的學習活動記錄及會員個人資料，以及有權發送任何訊息給您。
                br
                p 您明確理解並同意，在參與第三人所開辦之團班群組後，即代表該第三人之帳號可以閱覽您在本網站的學習活動記錄及會員個人資料，以及有權發送任何訊息給您。
                br
                p
                    | 您所提供之個人資料，本公司僅在本條及翰林雲端學院隱私權保護政策所述的目的範圍內蒐集、儲存、複製、處理、傳輸及使用，使用之期間及地區不限，使用之對象僅限於您自身以及各該目的範圍內有必要接觸您個人資料之人，使用之方式皆為合法、合理且無損於您個人權益之方式。
                br
                p 為了維護會員之個人資料，本網站謹依個人資料保護法規定作以下事項告知： 
                br
                p (一) 個人資料蒐集之目的：
                br
                p 本公司為能提供更完善之服務及會員相關商品資訊、服務、活動及最新資訊，依相關法令之規定，蒐集、處理及利用註冊會員所提供之個人資料。
                br
                p 依據法務部頒布之「個人資料保護法之特定目的及個人資料之類別」規定，本公司蒐集、處理、利用及保存您個資之特定目的如下（下稱「特定目的」）： 
                br
                div(style='margin-left: 30px;')
                    p ○四○　行銷。
                    br
                    p ○六七　信用卡、現金卡、轉帳卡或電子票證業務
                    br
                    p ○六九　契約、類似契約或其他律關係事務。
                    br
                    p ○九○　消費者、客戶資訊與服務。
                    br
                    p 一一八　智慧財產權、光碟管理及其他相關行政。
                    br
                    p 一二五　傳播行政與管理。
                    br
                    p 一二九　會計與相關業務。
                    br
                    p 一三五　資（通）訊服務。
                    br
                    p 一三六　資（通）訊與資料庫管理。
                    br
                    p 一四八　網路購物及其他電子商務服務。
                    br
                    p 一五二　廣告或商業行為管理。
                    br
                    p 一五七　調查、統計與研究分析。
                    br
                    p 一五八　學生（員）（含畢、結業生）資料管理。
                    br
                    p 一五九　學術研究。
                    br
                    p 一八一　其他經營合於營業登記項目或組織章程所定之業務。
                    br
                p (二) 本網站將於存續期間內於前述目的內蒐集、處理、儲存、傳遞、使用您的個人資料，不另 做其他用途。
                br
                p (三) 蒐集之個人資料類別：
                br
                div(style='margin-left: 30px;')
                    p C001 辨識個人者：如姓名、職稱、國民身分證編號、電話（住家、工作電話及手機號碼）、住址（住家、戶籍及工作地址）、電子郵遞地址、網路平台帳號等資訊。
                    br
                    p C002 辨識財務者：如金融機構帳戶號碼與姓名。
                    br
                    p C021 家庭情形：如性別、國籍、出生年月日、婚姻狀況等。
                    br
                    p C031 住家及設施：住所地址 及 C038 職業、C051 學校記錄、C056 著作、C057 學習紀綠。
                    br
                p (四) 個人資料利用之期間、地區、對象、方式：
                br
                div(style='margin-left: 30px;')
                    p 期間：本公司營運期間。
                    br
                    p 地區：臺灣地區及您所在地區、或完成上開特定目的之必要地區內。
                    br
                    p 利用之對象：本公司、本公司關係企業（包括：現有之公司）以及與本公司合作辦理行銷推廣之廠商（例如金流廠商、物流廠商）。
                    br
                    p 利用之方式：得以紙本、電子文件、電子郵件傳送或其他合於當時科技之適當方式利用之。
                    br
                p (五) 依個人資料保護法第三條規定，您可以針對您的個人資料行使以下權利：
                br
                div(style='margin-left: 30px;')
                    p 1. 查詢或請求閱覽。
                    br
                    p 2. 請求製給複製本。
                    br
                    p 3. 請求補充或更正。
                    br
                    p 4. 請求停止蒐集、處理或利用。
                    br
                    p 5. 請求刪除。
                    br
                p (六)您可自由選擇是否提供相關個人資料，惟若您選擇不提供或是提供不完全時，將可能導致無法註冊加入會員，或者無法使用本網站所提供服務之一部或全部。
                br
                p 您明確理解並並同意依電子簽章法規定，以電子資料作為個資法規定書面同意之方法。
                br
            .policy
                h3 第八條 廣告及宣傳訊息
                p
                    | 本公司僅係提供廣告及宣傳訊息刊登內容之平台，本公司就該內容之真實性、正確性、完整性、合法性不負任何責任。會員透過本公司所提供之商品、服務資訊，所購買之任何商品或服務，其間交易關係均僅存在於會員與商品或服務提供人間，與本公司無關。
                br
                p 對於會員所填寫的電子信箱地址，您明確理解並同意本公司及本公司之母公司、子公司、相關公司及合作夥伴得寄發本公司相關之產品或活動之電子廣告信件。
                br
            .policy
                h3 第九條 契約之生效
                p 當您會員進入會員註冊之網頁，並按「同意」本條款之選項後，即視為會員同意本契約條款之規定，本服務契約即告成立並生效。本條款若任何一部無效，不影響其他部份之效力。
                br
            .policy
                h3 第十條 條款變更
                p
                    | 本公司修改本條款時，將於本服務網站公告之，不另行個別通知，請會員不定期瀏覽最新消息公告，以維護自身權益。您若不同意修改之條款，應停止使用本服務，並於公告後三日內以書面通知本公司，並視為退出會員；若您未於三日內以書面通知，則視為您已同意修改之條款並受其拘束。
                br
            .policy
                h3 第十一條 智慧財產權保護
                p
                    | 本服務所使用之軟體或程式、網站上所有內容，包括但不限於著作、題目、圖片、影片、動畫、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計，均由本公司或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得逕自使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。這些被禁止的方法包括、但不限於：架設私人伺服器、逆向工程、修改本服務，或添加新的組件，或使用某種工具程式來提供本服務經營(或主機)服務。若您欲引用或轉載前述軟體、程式或網站內容，必須依法取得本公司或其他權利人的事前書面同意。
                br
                p
                    | 若您欲在本公司網站上張貼、轉貼或發表任何訊息、留言、著作、資料，您必須自行負責取得一切必要的授權與許可，以及擔保不侵害他人之著作權、商標權、專利權、營業秘密、名譽權、肖像權、隱私權或其他權益，並且不違反任何法令規定、社會秩序、善良風俗。若有上述情事發生，
                    | 本公司得在不通知您的情況下，立即刪除或是下架該等內容，會員不得異議。
                br
                p
                    | 當您將內容上傳或以其他方式提交至本服務，即代表您授予本公司、母公司、子公司、相關公司及合作夥伴全球的授權，可使用、代管、儲存、重製、修改、製作衍生作品
                    | (例如翻譯、改編或變更您的內容，使其更加配合本服務）、公開傳輸、公開播送、公開展示與散佈這類內容。您於本項授權授予的權利僅限用於營運、宣傳、改善服務、學術研究，以及開發新的服務。即使您停止使用本服務或者喪失會員資格，本項授權仍持續具有效力。
                br
                p 尊重智慧財產權是您應盡的義務，如有違反上述規定，您應自負一切責任並對本公司之損害負賠償責任（包括但不限於訴訟費用及律師費用等）。
                br
            .policy
                h3 第十二條 準據法
                p 本條款以中華民國法律為準據法。
                br
            .policy
                h3 第十三條 管轄法院
                p 因本條款涉及的一切爭訟，雙方合意以臺灣台北地方法院為第一審管轄法院。
                br
        include ./html-footer.pug