.hide {
  display: none;
}

.left-side {
  float: left;
  width: 215px;
}

img.banner {
  display: block;
  margin: auto;
  width: 98%;
}

.unblock {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 3px;
}

